.upload.ant-upload-wrapper .ant-upload-list.ant-upload-list-picture .ant-upload-list-item {
  height: fit-content;
}

.upload.ant-upload-wrapper
  .ant-upload-list.ant-upload-list-picture
  .ant-upload-list-item
  .ant-upload-list-item-thumbnail {
  width: 202px;
  height: 202px;
}
